@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  width: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: linear-gradient(270deg, #c65d0e, #e77d1f);
  background-size: 400% 400%;
  animation: gradientAnimation 17s ease infinite;
  color: #ffffff;
  overflow-y: auto;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  padding: 10px;
  transition: color 0.3s;
}
nav a:hover {
  color: #ffd700;
}

.game-title {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  margin: 20px 0;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.main-section {
  flex: 1;
}

.item {
  display: flex;
  align-items: center;
}

.item video {
  width: auto;
  max-width: 500px;
  margin-right: 20px;
  margin-top: 10px;
  border: 5px solid #ffd700;
  border-radius: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.text-content h2 {
  font-size: 28px;
  color: #ffcc00;
}

.text-content h3 {
  font-size: 24px;
  color: #ffffff;
  margin: 5px 0;
}

.text-content p {
  font-size: 18px;
  color: #f0f0f0;
}

.footer-line {
  border: 2px solid #ffd700;
  margin: 20px 0;
  width: auto;
  opacity: 0.8;
}
